/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
#header {
    height: 140px;
    line-height: 140px;
    background-color: rgb(230, 230, 230);
}

#header-title {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
}

#logo {
    height: 70px;
    width: auto;
    margin-left: 30px;
    vertical-align: middle;
}