/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*UTILITY*/

body {
    background-color: rgb(230, 230, 230) ;
}

.container {
    width: 45%;
    margin: 0 auto;
}


ul {
    list-style-type: none;
}

li {
    font-size: 1.2rem;
    margin: 25px 0;
}

/*HEADER*/

#header {
    height: 140px;
    line-height: 140px;
    background-color: white;
}

#header-title {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
}

#logo {
    height: 70px;
    width: auto;
    margin-left: 30px;
    vertical-align: middle;
}

/*MAIN*/

/*BOTTONI*/

.button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}

#task, #section {
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
    border-color: gray;
    color: gray;
    border-width: 1px;
}

#task {
    background-color: rgb(24, 131, 253);
    color: white;
    border-color: rgb(24, 131, 253);
    margin-right: 5px;
}

/*LISTE*/

.lists {
    margin-top: 45px;
}
/*SPUNTE*/

.check, .uncheck {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    height: 26px;
    width: 26px;
    padding-bottom: 5px;
    border-radius: 50%;
}

.check {
    color: green;
    border: solid green;
    border-width: 2px;

}

.uncheck {
    color: rgb(207, 11, 11);
    border: solid rgb(207, 11, 11);
    border-width: 2px;
}
/*ETICHETTE*/

.editorial,
 .editorial-2,
 .q1-goals,
 .recruiting,
 .mobile,
 .website,
 .sales {
    color: beige;
    font-size: 0.7rem;
    padding: 8px;
    border-radius: 13px;
}

.editorial {
    background-color: rgb(29, 200, 252);
}


.q1-goals {
    background-color: rgb(99, 19, 173);
}

.recruiting {
    background-color: rgb(91, 201, 124);
}

.mobile, .editorial-2 {
    background-color: rgb(223, 121, 25);
} 

.website {
    background-color: rgb(126, 45, 122);
}

.sales {
    background-color: rgb(161, 197, 127);
}