/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*UTILITY*/

body {
    background-color: rgb(230, 230, 230) ;
}

.container {
    width: 45%;
    margin: 0 auto;
}

.lists {
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.3rem;
}

/*HEADER*/

#header {
    height: 140px;
    line-height: 140px;
    background-color: white;
}

#header-title {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
}

#logo {
    height: 70px;
    width: auto;
    margin-left: 30px;
    vertical-align: middle;
}

/*MAIN*/

/*BOTTONI*/

.button {
    display: inline-block;
    margin-top: 20px;
}

#task, #section {
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
    border-color: gray;
    color: gray;
    border-width: 1px;
}

#task {
    background-color: rgb(24, 131, 253);
    color: white;
    border-color: rgb(24, 131, 253);
    margin-right: 5px;
}

/*LISTE*/

.new-task {
    margin-top: 70px;
}

.check {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    color: green;
    height: 25px;
    width: 25px;
    border: solid green;
    padding-bottom: 5px;
    border-radius: 50%;
    border-width: 2px;
}

.editorial {
    color: beige;
    font-size: 0.7rem;
    background-color: rgb(29, 200, 252);
    padding: 8px;
    border-radius: 14px;
}